html,body{
    background-image: url('/images/criss-cross.png');
    background-size: cover;
    background-repeat: repeat-y;
    height: 100%;
    font-family: 'verdana', sans-serif;
    scroll-behavior: auto;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}
