
.container{
    height: 100%;
    align-content: center;
}

.card-header h3{
color: white;
}

.nav-link {
    padding: 10px 10px;
}

.login_btn{
color: black;
background-color: rgb(255, 220, 23);
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}